################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RBPak/.vs/RBPak
/RBPak/x64/Release
/RBPak/RBPak/x64/Release
/RBPak/Build-Int
/RBPak/Build/x64/Release
/RBPak/Examples/demo_assets.rbk
/RBPak/Examples/example.pak
/RBPak/Examples/extracted_hello.txt
/RBPak/Examples/fast.pak
/RBPak/Examples/game_assets.rbk
/RBPak/Examples/modified.pak
/RBPak/Examples/multiple.pak
/RBPak/Examples/secure.pak
/RBPak/Build/x64/Debug
